{% extends 'layout.html' %}

{% block content %}
{{ departmentData | json }} 
    <div class='well'>
      <form method='POST' action='/departments/{{ thisDepartment }}/employees'>
        <div class='form-group'>
          <input class='form-control' name='employeeName' placeholder='Create a New Employee' />
        </div>
          <button type='submit' class='btn btn-primary'>Create Employee </button>
      </form>
	</div> <! -- end well div -->
	
	{% if defaultDepartment.id == thisDepartment %}
		<div>
			<span>This is the default department. </span>
		</div>
	{% endif %}

	{% if defaultDepartment.id != thisDepartment %}
	<div> 
		<form method='POST' action='/departments/{{thisDepartment}}?_method=PUT'>
			<button type='submit' class='btn btn-warning'> Make this the  Default Department </button>
		</form>
	</div> <!-- end change default area -->
	{% endif %}
	
	<nav>
		<ul class='nav nav-pills'>
			{% for department in departmentData %}
				<li role='presentation' {% if thisDepartment == department.id %} class='active' {% endif %}> <a href='/departments/{{department.id}}'> {{department.name}} </a> </li>
			{% endfor %}
		</ul>
	</nav>
	

	{% if departmentData.users.length > 0 %}
		<div>
			<table class='table table-striped'>
				<thead> <h4> Employees </h4></thead>
					<tbody>
					{% for employee in departmentData.users %}
						<tr> 
							<td> 
								{{employee.name}}
							</td> <!-- employee name -->
		
							<td> 
								<button type='submit' action='' class='btn btn-info'> Make Customer </button> 
							</td> <!-- make customer button --> 
							
							<td> 
								<form method='POST' action='/departments/{{departmentData.id}}/employees/{{employee.id}}?_method=DELETE'>
									<button type='submit' class='btn btn-danger'> Delete Employee </button> 
								</form>
							</td> <!-- delete button -->
						</tr>
					{% endfor %}
					</tbody>
			</table>
		</div> <!-- end employee list -->
	{% endif %}
{% endblock %}
